body {
  background-image: url(assets/img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
}

.stopwatch {
  backdrop-filter: blur(8px);
  width: 100vw;
  padding: 10px 0;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  color: aliceblue;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
  margin-bottom: 10px;
}

.controls button {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.start-button {
  background-color: hsl(120, 91%, 36%);
}

.start-button:hover {
  background-color: hsl(120, 91%, 30%);
}

.stop-button {
  background-color: hsl(0, 100%, 40%);
}

.stop-button:hover {
  background-color: hsl(0, 100%, 35%);
}

.reset-button {
  background-color: hsl(205, 90%, 60%);
}

.reset-button:hover {
  background-color: hsl(205, 90%, 55%);
}
